@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

div {
    border: 1px dashed red;
}

body {
    height: 95vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    font-family: Inter, Arial, Helvetica, sans-serif;
}

.sidebar {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
}

.sidebar > .container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(15, 1fr) auto;
    gap: 10px;
}

.sidebar .logo:first-child, .sidebar .title:nth-child(2) {
    grid-row: 1 / span 2;
}

.nav {
    grid-row: 1 / 2;
    grid-column: 2 / -1;
    display: grid;
}

.nav > .container {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.nav .row1 {
    display: grid;
    grid-template-columns: 14fr 1fr 4fr;
}

.feed {
    grid-row: 2 / -1;
    grid-column: 2 / -1;
}

.feed > .container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    padding: 10px;
}

.feed .col1 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.card {
    display: grid;
    grid-template-rows: 5fr 1fr;
}

.feed .col2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}