div {
    border: 2px solid red;
}

body {
    height: 95vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
}

.sidebar > .container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(15, 1fr) auto;
    gap: 10px;
}

.sidebar .logo:first-child, .sidebar .title:nth-child(2) {
    grid-row: 1 / span 2;
}

.nav {
    grid-row: 1 / 2;
    grid-column: 2 / -1;
}

.feed {
    grid-row: 2 / -1;
    grid-column: 2 / -1;
}