@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
* {
    --searchTextSize : 1.5rem;
}

div {
    border: 1px dashed red;
}

body {
    height: 95vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    font-family: Inter, Arial, Helvetica, sans-serif;
}

.sidebar {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 9fr;
}

.sidebar > .container1 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 10px;
    align-items: center;
}

.dashboard {
    align-self: center;
    font-size: var(--searchTextSize);
}

.logo {
    justify-self: end;
    max-height: var(--searchTextSize);
}

.logo.dashboard {
    display: grid;
    scale: 1.7;
    align-self: center;
}

.title {
    font-weight: bold;
}

.sidebar > .container2 {
    display: grid;
    grid-template-rows: 2fr 1fr 3fr;
    gap: 30px;
    align-items: center;
    padding-top: 30px;
}

.sidebar .container2a {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    align-items: center;
}

.sidebar .container2b {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    align-items: center;
}

.nav {
    grid-row: 1 / 2;
    grid-column: 2 / -1;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.nav .row1 {
    display: grid;
    grid-template-columns: 14fr 1fr 4fr;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.nav .row1 .search {
    background-image: url('../img/search.svg');
    height: calc(0.9 * var(--searchTextSize));
    width: calc(0.9 * var(--searchTextSize));
    background-size: contain;
    background-color: transparent;
    border: none;
}

form {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

input {
    border-radius: var(--searchTextSize);
    margin-left: 10px;
    max-width: 500px;
    background-color:rgb(231, 231, 231);
    border: none;
    font-size: var(--searchTextSize);
}

.nav .row1 .notification {
    background-image: url('../img/alarm.svg');
    height: calc(0.9 * var(--searchTextSize));
    width: calc(0.9 * var(--searchTextSize));
    background-size: contain;
    background-color: transparent;
    border: none;
}

.nav .row2 {
    display: grid;
    grid-template-columns: 1fr 6fr repeat(3, 1fr);
    padding-left: 10px;
    padding-right: 10px;
    column-gap: 20px;
}

.row2 button {
    align-self: center;
}

.feed {
    grid-row: 2 / -1;
    grid-column: 2 / -1;
}

.feed > .container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    padding: 10px;
}

.feed .col1 {
    display: grid;
    grid-template-rows: auto 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.card {
    display: grid;
    grid-template-rows: 5fr 1fr;
}

.card .buttons {
    justify-self: end;
}

.feed .col2 {
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    gap: 10px;
}

.feed .title {
    grid-column: 1 / -1;
}
